# macOS
.DS_Store

# Python
venv/
__pycache__/
*.pyc
.env

# Android
.gradle/
build/
local.properties
.idea/

# Android Studio
captures/
.externalNativeBuild/
.cxx/

# Node.js
node_modules/
package-lock.json

# VitePress
docs/.vitepress/cache/
docs/.vitepress/dist/
